#sorting-visualizer-container {
  border: 1px dashed black;
  width: 100%;
  border-radius: 10px;
  margin: 0 10px;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
}

.bar {
  background-color: red;
  border-width: 0 1px; /* Borde superior e inferior en 0px, borde izquierdo y derecho en 1px */
  border-style: solid;
  border-color: transparent white;
  flex: 1;
}

.bar:first-child {
  border-left: none;
}
.bar:last-child {
  border-right: none;
}
